.menu{
    float:right;
    width:80%;
    overflow-y:scroll;
    max-height:calc(100vh - 80px);
    h2{
        font-size:30px;
        font-weight:600;
        text-transform:capitalize;
    }
    .menu-container{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        padding:40px 0;
        width:70%;
        margin:auto;
        .menu-item{
            width:30%;
            border:1px solid black;
            border-radius:4px;
            margin:20px 5px;
            height:250px;
            cursor:pointer;
        }
    }
    img{
        width:80%;
    }
    h3{
        padding:20px 0;
        font-size:20px;
        font-weight:500;
        text-transform:capitalize;
    }
    h5{
        padding:20px 0;
        font-size:15px;
        font-weight:500;
    }
    .outstock{
        background:rgba(0,0,0,0.8);
    }
    a{
        background:#cf251c;
        color:#fff;
        font-size:20px;
        padding:5px 10px;
        font-weight:300;
        font-size:20px;
    }
}